/* Imports */
@font-face {
    font-family: 'SHRIMP';
    src:
        url('../fonts/SHRIMP.ttf') format('woff2'),
        url('../fonts/SHRIMP.ttf') format('woff'),
        url('../fonts/SHRIMP.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Globals */

html {
    font-size: 62.5%;
}

:root {
    /* Fonts */
    --primary-font: 'SHRIMP', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --default-font-size: 1.6rem;
    
    /* Color Scheme */
    --p-color: #3EC08D;
    --s-color: #1D1D35;
    --lt-color: #e9e6e6;
    --dk-color: #111111;
    
    /* Utility */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--s-color);
    color: var(--p-color);
    font-family: var(--primary-font);
    font-size: var(--default-font-size);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    padding: 1.5rem;
    border: 1px solid var(--p-color);
    border-radius: 1rem;
}

.form-field {
    display: block;
    margin: 1rem 0;
    height: 34px;
}

.form-field::-webkit-inner-spin-button,
.form-field::-webkit-outer-spin-button {
    display: none;
}

input[type=submit] {
    background-color: var(--p-color);
    color: var(--s-color);
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-family: var(--secondary-font);
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {
    filter: hue-rotate(180deg);
    color: var(--dk-color);
}